@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Russo+One&display=swap');
.main
{
    background-color: rgba(198, 97, 97, 0.991);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden ;
    z-index: 2;
    
}



 @keyframes move
 {
    0%{
        transform: scale(1);
      
    }
    25%{
        transform: scale(10);
       
    }
    50%{
        transform: scale(50);
        background-color: rgba(255, 255, 255, 0.678);
    }
    75%{
        transform: scale(100);
        background-color: rgba(255, 255, 255, 0.797);
    }
    100%{
        transform: scale(500);
        background-color: white;
    }
 }
 .main h1{
    font-family: 'Russo One', sans-serif;
    color: white;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
 }

@keyframes rotate
{
    from{
        transform: rotateZ(0deg);
    }
     to
     {
        transform: rotateZ(360deg);
       }
}
/* 
.main img
{
   mix-blend-mode: multiply;
   height: 300px;
   animation-name: rotate;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   
} */