@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  

}
.App
{
    background-color: rgba(135, 229, 89, 0.247);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;

}
.com
{   background-color: red;
    height: 100vh;
    width: 100vw;
    position: absolute;
}



